{% load static %}
{% load wagtailcore_tags %}
{% for document in documents %}
    <div class="col-md-6 col-lg-4 p-1">
        <div class="project-attachment ui-bordered p-2">

            <div class="project-attachment-img" style="background-image: url({{ document.preview }})" doc-id="{{ document.id }}"></div>
            <div class="media-body ml-3">
                <strong class="project-attachment-filename">{{document.title}}</strong>
                <div class="text-muted small"  >{{document.file_size|filesizeformat}}</div>
                <div>
                    <a href="{{ document.url }}" download="">Загрузить</a>
                </div>
            </div>
            {% if user.user_profile.is_partner %}
                {% else %}
            <div class="btn-group project-actions align-self-start">
                <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                    <i class="ion ion-ios-more"></i>
                </button>
                    <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="/cms/documents/edit/{{ document.id }}/" target="_blank">Редактировать</a>
                                <a class="dropdown-item" href="/cms/documents/delete/{{ document.id }}/" target="_blank">Удалить</a>
                    </div>
            </div>
            {% endif %}
        </div>
    </div>
{% endfor %}
{% block previewscripts %}
    <script type="text/javascript">
        let activePreviewId;
        let previewsMap = new Map();
        let preKeys = JSON.parse("{{ js_map_keys }}");

        let p = "{{ js_map_vals }}";
        let preVals = JSON.parse(p.replace(/&quot;/g,'"'));
        
        p = "{{ id_to_preview_type }}";
        let id_to_preview_type = JSON.parse(p.replace(/&quot;/g,'"'));

        for(let i = 0; i < preKeys.length; ++i)
            previewsMap.set(preKeys[i], preVals[i])

        existing_preview = new Set();

        $(".project-attachment-img").click(function(){
                let docId = parseInt(($(this).attr('doc-id')))
                if (previewsMap.has(docId)) {
                    if (activePreviewId !== undefined){
                        $("#prw-" + activePreviewId.toString()).hide()
                        activePreviewId = docId
                        $('#show-preview-button').show()
                    }
                    if (!existing_preview.has(docId) && (docId in id_to_preview_type)){
                        if (id_to_preview_type[docId] == 'embed'){
                            let element_template =  `<embed id="prw-${docId}" src="${previewsMap.get(docId)}" type="application/pdf" height="700px" width="100%">`
                            existing_preview.add(docId)
                            $(".preview-content").append(element_template);
                            activePreviewId = docId
                        }
                        if (id_to_preview_type[docId] == 'image'){
                            let element_template =  `<img id="prw-${docId}" src="${previewsMap.get(docId)}" width="100%">`
                            existing_preview.add(docId)
                            $(".preview-content").append(element_template);
                            activePreviewId = docId
                        }
                        if (id_to_preview_type[docId] == 'excel'){
                            let element_template = `<div id="prw-${docId}" width-100% height="700px" overflow-y="auto" width="100%""></div>`
                            existing_preview.add(docId)
                            $(".preview-content").append(element_template);
                            $("#prw-" + docId.toString()).load('/load_excel/'+ docId)
                            activePreviewId = docId
                        }
                        if (id_to_preview_type[docId] == 'clear_pdf'){
                            let element_template = `<embed id="prw-${docId}" src="/load_pdf_stream_preview/${docId}" type="application/pdf" height="700px" width="100%">`
                            existing_preview.add(docId)
                            $(".preview-content").append(element_template);
                            activePreviewId = docId
                        }
                    } else if ((docId in id_to_preview_type)){
                        activePreviewId = docId
                        $("#prw-" + activePreviewId.toString()).show()
                    }
                }  
        })
    </script>
{% endblock %}