<div class="chat-sidebox col">

  <!-- Chat contacts header -->
  <div class="flex-grow-0 px-4">
    <div class="media align-items-center">
      <div class="media-body">
      <input type="text" class="form-control chat-search my-3" placeholder="Search...">
      </div>
      <a href="javascript:void(0)" class="chat-sidebox-toggler d-lg-none d-block text-muted text-large font-weight-light pl-3">&times;</a>
    </div>
    <div>
      <a href="javascript:void(0)" class="btn btn-primary w-100 mb-3" data-toggle="modal" data-target="#modal-group-create">Создать группу</a>
    </div>
    <hr class="border-light m-0">
  </div>
  <!-- / Chat contacts header -->

  <!-- Wrap `.chat-scroll` to properly position scroll area. Remove this wtapper if you don't need scroll -->
  <div class="flex-grow-1 position-relative">
  <div class="chat-contacts list-group chat-scroll py-3">
      {%for room in rooms %}
      <!-- Online -->
      <a href="/chat_page/?group={{room.id}}"
        class=" {%if request.group == room.id%} active {%endif%}list-group-item list-group-item-action online">
        <!-- <img src="img/avatars/2.png" class="d-block ui-w-40 rounded-circle" alt=""> -->
        <div class="media-body ml-3">
          {{ room.name }}
          <!-- <div class="chat-status small"><span class="badge badge-dot"></span>&nbsp; Online</div> -->
        </div>
        <div class="badge badge-outline-success">{{user.new_messages}}</div>
      </a>
    {%endfor%}

    {%for user in users%}
      <!-- Online -->
      <a href="/chat_page/?with_user={{user.id}}"
        class=" {%if user == chat_room_companion%} active {%endif%}list-group-item list-group-item-action online">
        <!-- <img src="img/avatars/2.png" class="d-block ui-w-40 rounded-circle" alt=""> -->
        <div class="media-body ml-3">
          {{user}}
          <!-- <div class="chat-status small"><span class="badge badge-dot"></span>&nbsp; Online</div> -->
        </div>
        <div class="badge badge-outline-success">{{user.new_messages}}</div>
      </a>
    {%endfor%}


  </div><!-- / .chat-contacts -->
  </div>

</div>

<!-- Group create -->
   <div class="modal fade" id="modal-group-create">
       <div class="modal-dialog">
           <form method="post" action="{%url 'new_chat_group'%}" class="modal-content">{%csrf_token%}
               <div class="modal-header">
                   <h5 class="modal-title">
                       Создать группу
                   </h5>
                   <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
               </div>
               <div class="modal-body">
                   <div class="form-group">
                       <label for="" class="form-label">Название группы</label>
                       <input type="text" name="title" class="form-control">
                   </div>
                   <div class="form-group">
                       <label for="" class="form-label">Участники</label>
                       <select name="users" multiple class="select2 form-control w-100">
                         {%for user in users%}
                           <option value="{{user.id}}">{{user}}</option>
                         {%endfor%}
                       </select>
                   </div>
               </div>
               <div class="modal-footer">
                   <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                   <button type="submit" class="btn btn-primary">Сохранить</button>
               </div>
           </form>
       </div>
   </div>
   <!-- /Group create -->
   <!-- Group details -->
