{% load wagtailcore_tags %}
{% load wagtailcore_tags wagtailimages_tags %}

<div class="col-md-4 mb-5">
    <div class="card hoverable">
        {% if post.image %}
            {% image post.image fill-283x188 class="card-img-top" %}
        {% endif %}
        <div class="card-body">
            <h4 class="card-title mb-1">{{post.title}}</h4>
            {% if post.type != None %}
                {{post.type_str }}
            {% else %}
                <div class="small text-muted mb-3">{{post.first_published_at}}</div>
            {% endif %}
            <p class="card-text">
                {%if post.preview%}
                    {{post.preview}}
                {% else %}
                    {{post.announcement | richtext }}
                {% endif %}
            </p>
            <a href="{{post.url}}" class="btn btn-sm btn-primary btn-round">Читать далее</a>
        </div>
    </div>
</div>