    {% extends "base.html" %}
{% load static %}


 {% block content %}
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">

                    <div class="mdc-card product-card">
                        <div class="mdc-card-content">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell--span-3-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
                                    <div class="mdc-typography--overline">Детское питание</div>
                                    <h5 class="mdc-typography--headline5">{{ product.title }}</h5>
                                    <div class="mdc-typography--body2 product-card-muted">{{ product.short_descrip }}</div>
                                </div>
                                <div class="mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
                                    <img src="assets/img/nuppi-gold-small.png" alt="">
                                </div>
                                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                                    <a href="{% url 'product' product.id %}" class="mdc-button gray-button">О продукте</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mdc-typography-text--center">
                        <form action="" method="post">  
                            {% csrf_token %}
                        <div class="mdc-typography--section">
                            <h6 class="mdc-typography--headline6">Написать в чат</h6>
                            <div class="mdc-typography--body2 mdc-typography-text--muted">В чате с производителем вы можете задавать вопросы о данном товаре или услуге. Пожалуйста представьтесь или <a href="#" class="mdc-typography-text--accent">войдите</a> в свой аккаунт.</div>
                        </div>
                        <div class="mdc-typography--section">
                            <div class="field-container">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--outlined-w100" data-mdc-auto-init="MDCTextField">
                                   {{ form.first_name }} 
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="name" class="mdc-floating-label">Ваше имя</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                <div class="mdc-text-field-helper-line">
                                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg">Ваше имя на русском или английском языке</p>
                                </div>
                            </div>
                            <div class="field-container">
                                <div class="mdc-text-field mdc-text-field--outlined mdc-text-field--outlined-w100" data-mdc-auto-init="MDCTextField">
                                    {{ form.phone_number }}
                                    <div class="mdc-notched-outline">
                                        <div class="mdc-notched-outline__leading"></div>
                                        <div class="mdc-notched-outline__notch">
                                            <label for="phone" class="mdc-floating-label">Номер телефона</label>
                                        </div>
                                        <div class="mdc-notched-outline__trailing"></div>
                                    </div>
                                </div>
                                <div class="mdc-text-field-helper-line">
                                    <p class="mdc-text-field-helper-text mdc-text-field-helper-text--persistent mdc-text-field-helper-text--validation-msg" >Введите номер мобильного телефона</p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-typography--section">
                            <div class="button-wrap">
                                <button type="submit" class="mdc-button mdc-button--raised mdc-button-shaped mdc-button--ui-width-200">
                                    НАЧАТЬ ЧАТ
                                </button>
                            </div>
                        </div>
                        <div class="mdc-typography--body2 mdc-typography-text--muted mdc-typography-text--center">Начиная чат вы подтверждаете согласие с Условиями использования сервиса и Политикой персональных данных
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}
