 {% extends "base.html" %}
{% load static %}


 {% block content %}
    <div class="mdc-top-app-bar--fixed-adjust">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell">
                    <div class="mdc-card product-card">
                        <div class="mdc-card-content">
                            <div class="mdc-layout-grid__inner">
                                <div class="mdc-layout-grid__cell--span-3-phone mdc-layout-grid__cell--span-6-tablet mdc-layout-grid__cell--span-9-desktop">
                                    <div class="mdc-typography--overline">Детское питание</div>
                                    <h5 class="mdc-typography--headline5">{{ product.title }}</h5>
                                    <div class="mdc-typography--body2 product-card-muted">{{ product.short_descrip }}</div>
                                </div>
                                <div class="mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-2-tablet mdc-layout-grid__cell--span-3-desktop">
                                    <img src="{{ product.files.url }}" alt="">
                                </div>
                                <div class="mdc-layout-grid__cell--span-4-phone mdc-layout-grid__cell--span-8-tablet mdc-layout-grid__cell--span-12-desktop">
                                    <a href="{% url 'product' product.id %}" class="mdc-button gray-button">О продукте</a>
                                    <a href="#" class="mdc-button gray-button">Чат</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-typography--section mdc-typography-text--center">
                        <h6 class="mdc-typography--headline6">О товаре</h6>
                        <div class="mdc-typography--body2 mdc-typography-text--muted">Получите самую полную информацию о товаре или услуге.</div>
                    </div>
                    <div class="mdc-typography--section">
                        <div class="mdc-typography--body2">
                            <p><strong>Описание:</strong></p>
                            <p>{{ product.descrip }}</p>
                           
                            <p><strong>Состав:</strong></p>
                            <p>{{ product.composition }}</p>
                            <p><strong>Характеристики:</strong></p>
                            <p>{{ product.characteristics }}</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}