<div class="dirs">
<input hidden id="main_node" value="{{ node.id }}">
{% if node.parent %}
  <div class="dir">
    <div class="dir-info"><img class="dir-ico" src="/static/images/code.svg" width="25px" height="25px"><div class="dir-name">../</div><input class="node_id" hidden value="{{ node.parent.id }}" ></div>
  </div>
{% endif %}
{% for dir in node.children.all %}
  <div class="dir">
    <div class="dir-info"><img class="dir-ico" src="/static/images/code.svg" width="25px" height="25px"><div class="dir-name">{{ dir.title }}</div><input class="node_id" hidden value="{{ dir.id }}" ></div>{% if user.is_head %}<div class="delete-dir">x</div>{% endif %}
  </div>
{% endfor %}
{% for dir_file in node.directory_files.all %}
  <div class="dir-file">
    <img class="file-ico" src="/static/images/fileico.svg" width="15px" height="15px">
    <a href="{{ dir_file.dir_file.url }}">{{ dir_file.filename }}</a>
    {% if user.is_head %}
    <span class="delete-dir-file">x</span>
    {% endif %}
    <input hidden class="dir-file-id" value={{ dir_file.id }}>
  </div>
  {% endfor %}
  {% if user.is_partner %}
  {% else %}
  <div class="dir-buttons">
    <input class="add-dir" type="button" value="Добавить папку">
    <input type="button" class="add-dir-file" value="Добавить файл">
  </div>
  {% endif %}
</div>
