{% extends "upload_track.html" %}
{% block name %}
<h4 class="font-weight-bold py-3 mb-4">
						Редактирование трека
					</h4>
{% endblock %}
{% block img %}

<div class="card-body">

									<div class="media align-items-center">
					{% if track.image %}	<img src="{{ track.image.url }}" alt="" class="d-block ui-w-80">{% else %}{% endif %}
										<div class="media-body ml-3">
											<label class="form-label d-block mb-2">Обложка</label>
											
												
												{{ form_user.image }}
											&nbsp;
											<!-- <button type="button" class="btn btn-default btn-sm md-btn-flat">Сбросить</button> -->
										</div>
									</div>

								</div>
								<hr class="border-light m-0">
								<div class="card-body pb-2">
									{% endblock %}
{% block file %}{% endblock %}
{% block button %}	<input value="Сохранить" type="submit" class="btn btn-success">&nbsp;
					<a href="{% url 'edit_track' track.id %}">	<button type="button" class="btn btn-danger">Отменить</button></a>
					{% endblock %}