{% extends 'layout.html' %}
{% load static %}
{% load wagtailcore_tags %}
{% block content %}
                <!-- Page content -->
                    <div class="media align-items-center py-3 mb-3">
                       {% if employee.wagtail_userprofile.avatar %} <img src="{{ employee.wagtail_userprofile.avatar.url }}" alt="" class="d-block ui-w-100 rounded-circle">
                       {% else %}{% endif %}
                        <div class="media-body ml-4">
                            <h4 class="font-weight-bold mb-0">{{ employee.first_name }} {{ employee.last_name }}
                            </h4>
                            <div class="text-muted mb-2">{{ employee.user_profile.position }}</div>
                            <a href="javascript:void(0)" class="btn btn-default btn-sm">
                                <i class="fas fa-envelope"></i>&nbsp;Написать письмо
                            </a>
                        </div>
                    </div>
                    <div class="card my-4">
                        <div class="card-body">
                            <h6 class="mb-3">Ключевые обязанности</h6>
                            {{ employee.user_profile.key_responsibilities | richtext }}
                            <h6 class="mt-4 mb-3">Социальные сети</h6>
                            <table class="table user-view-table m-0">
                                <tbody>
                                <tr>
                                    <td>Twitter:</td>
                                    <td>{% if employee.user_profile.twitter %}
                                        <a href="{{ employee.user_profile.twitter }}">{{ employee.user_profile.twitter }}</a>
                                         {% else %}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Facebook:</td>
                                    <td>
                                       {% if employee.user_profile.facebook %} <a href="{{ employee.user_profile.facebook }}">{{ employee.user_profile.facebook }}</a>
                                         {% else %}{% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Instagram:</td>
                                    <td>
                                        {% if employee.user_profile.instagram %}
                                        <a href="{{ employee.user_profile.instagram }}">{{ employee.user_profile.instagram }}</a>
                                         {% else %}{% endif %}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <h6 class="mt-4 mb-3">Контакты</h6>
                            <table class="table user-view-table m-0">
                                <tbody>
                                <tr>
                                    <td>Телефон:</td>
                                    <td>{% if employee.user_profile.phone_number %}{{ employee.user_profile.phone_number }}
                                     {% else %}{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>Watsapp:</td>
                                    <td>{% if employee.user_profile.whatsapp %}{{ employee.user_profile.whatsapp }}
                                     {% else %}{% endif %}</td>
                                </tr>
                                <tr>
                                    <td>E-mail:</td>
                                    <td>{{ employee.email }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!-- / Page content -->
{% endblock %}