{% extends 'base.html' %}
{% block layout %}

<!-- Layout wrapper -->
<div class="layout-wrapper layout-1 layout-without-sidenav">
    <!-- Layout inner -->
    <div class="layout-inner">
        {% if user.is_authenticated %}
            {% include 'partials/navbar.html'%}
        {% endif %}
        <div class="layout-container">
            <div class="layout-content">
                {%block slider %}{% endblock %}
                <div class="container flex-grow-1 container-p-y">
                    <!-- Page content -->
                    <!-- Page content -->
                        {% block page_title %}{% endblock %}
                        {% block  breadcrumb%}{% endblock %}
                        {% block  content %}{% endblock %}
                    <!-- / Page content -->
                </div>
                {% block  additional_content %}{% endblock %}
                {% if user.is_authenticated %}
                    {% include 'partials/footer.html'%}
                {% endif %}                
            </div>
        </div>
    </div>
</div>

{% endblock %}