{% extends 'base.html' %}
{% block layout %}

<!-- Layout wrapper -->
<div class="layout-wrapper layout-1 layout-without-sidenav">
    <!-- Layout inner -->
    <div class="layout-inner">
        {% if user.is_authenticated %}
            {% include 'partials/navbar.html'%}
        {% endif %}
        <div class="layout-container">
            <div class="layout-content">
                <!-- Page content -->
                <!-- Page content -->
                    {% block content %}{% endblock %}
                <!-- / Page content -->
                {% if user.is_authenticated %}
                    {% include 'partials/footer.html'%}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}