{% extends 'layout.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static "libs/dropzone/dropzone.css" %}">{% endblock %}

{% block title %}Личный кабинет{% endblock %}
{% block page_title %}
    <h2 class="text-light font-weight-normal mt-4 mb-1">Личный кабинет</h2>
{% endblock %}

{% block  breadcrumb%}
    {% include 'partials/breadcrumb.html' %}
{% endblock %}
    {% block content %}

                    <dl class="row">
                        <dt class="col-md-3">Франчайзи</dt>
                        <dd class="col-md-9">

                            <div class="media align-items-center mb-3">
                                {% if shop.partner.wagtail_profile.avatar %}
                                <img src="{{ shop.partner.wagtail_profile.avatar.url }}" alt="" class="ui-w-60 rounded-circle">
                                  {% else %}
                                    {% endif %}
                                <div class="small ml-3">
                                    <div class="text-primary">{{ shop.partner }}</div>
                                    <a href="#" class="btn btn-xs btn-round btn-outline-dark">Написать в чат</a>
                                </div>
                            </div>
                        </dd>
                        <dt class="col-md-3">Юридическое лицо</dt>
                        <dd class="col-md-9">{{ shop.entity_name }}</dd>
                        <dt class="col-md-3">Город</dt>
                        <dd class="col-md-9">{{ shop.city }}</dd>
                        <dt class="col-md-3">Адрес</dt>
                        <dd class="col-md-9">{{ shop.address }}</dd>
                    </dl>
                    <div class="py-1 mb-2">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Введите запрос">
                            <div class="input-group-append">
                                <button type="button" class="btn btn-primary">
                                    <i class="ion ion-ios-search"></i>&nbsp; Поиск</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="nav-tabs-top mb-4">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active show" data-toggle="tab" href="#employees">Ответственные лица</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#documents">Документы</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#invoices">Счета</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#reviews">Отзывы</a>
                                    </li>
{#                                    <li class="nav-item">#}
{#                                        <a class="nav-link" data-toggle="tab" href="#files">Файлы</a>#}
{#                                    </li>#}
                                </ul>
                                <div class="tab-content no-shadow">
                                    <div class="tab-pane fade active show" id="employees">
                                        <div class="my-4 row">

                                           {% for partner in shop.responsibles.all %}
                                            <div class="col-md-6 col-lg-4 mb-4">
                                                <div href="{% url 'employee_info' partner.id %}" class="card hoverable">
                                                    <div class="card-body">
                                                        <div class="media align-items-center mb-3">
                                                          {% if partner.wagtail_profile.avatar %}
                                                              <img src="{{ partner.wagtail_profile.avatar.url }}" alt="" class="ui-w-60 rounded-circle">
                                                            {% else %}
                                                            {% endif %}
                                                            <div class="small ml-3">
                                                                <a href="{% url 'employee_info' partner.user.id %}" class="text-primary">{{ partner.user.first_name }} {{ partner.user.last_name }}</a>
                                                                <div class="small text-muted">{{ partner.position }}</div>
                                                                <div class="btn-group">
                                                                    <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                                                        <i class="ion ion-ios-more"></i>
                                                                    </button>
{#                                                                    <div class="dropdown-menu dropdown-menu-left">#}
{#                                                                        <a class="dropdown-item" href="{% url 'form_task' partner.id %}">Добавить задачу</a>#}
{#                                                                        <a class="dropdown-item" href="{% url 'edit_partner' partner.user.id %}">Редактировать франчайзи</a>#}
{#                                                                        <a class="dropdown-item" href="{% url 'form_review' %}">Добавить отзыв</a>#}
{#                                                                    </div>#}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="small text-muted mb-3">
                                                            {{ partner.phone_number }}
                                                            <br>Whatsapp {{ partner.whatsapp }}
                                                            <br>{{ partner.user.email }}
                                                        </div>
                                                        <a href="#" class="btn btn-round btn-outline-dark">Написать в чат</a>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    <!-- Документы -->
                                    <div class="tab-pane fade" id="documents">
                                        <div class="my-4">
                                            <form action="{{request.path}}" class="dropzone needsclick" id="dropzone-docs" method="POST">
                                                {% csrf_token %}
                                                <div class="dz-message needsclick">
                                                    Перетащите файлы сюда или нажмите, чтобы загрузить
                                                    <span class="note needsclick"></span>
                                                </div>
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple>
                                                </div>
                                                <input type="hidden" name="type" value="doc">
                                            </form>
                                        </div>
                                        <div class="my-4 small text-right">
                                            <span class="text-muted">Сортировать: </span>
                                            <a href="#" class="text-muted active">По порядку</a>
                                            <a href="#" class="text-muted">По дате</a>
                                            <a href="#" class="text-muted">По размеру</a>
                                        </div>
                                        <div class="row" id="documents_wraper">               
                                            {% for document in documents %}
                                <div class="col-md-6 col-lg-4 p-1">
                                    <div class="project-attachment ui-bordered p-2">

                                        <div class="project-attachment-img" style="background-image: url({% static 'img/5.jpg' %})"></div>
                                        <div class="media-body ml-3">
                                            <strong class="project-attachment-filename">{{document.title}}</strong>
                                            <div class="text-muted small"  >{{document.file_size|filesizeformat}}</div>
                                            <div>
{#                                                <a href="javascript:void(0)">Просмотреть</a> &nbsp;#}
                                                <a href="{{ document.url }}">Загрузить</a>
                                            </div>
                                        </div>
                                        <div class="btn-group project-actions align-self-start">
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                                <i class="ion ion-ios-more"></i>
                                            </button>
{#                                            <div class="dropdown-menu dropdown-menu-right">#}
{#                                               #}
{#                                                <a class="dropdown-item" href="javascript:void(0)">Удалить</a>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                                            
                                            
                                        </div>
                                        {% if is_paginated %}
                                            {% include 'partials/pagination.html' with posts=page_obj %}
                                        {% endif %}
                                    </div>
                                    <!-- Счета -->
                                    <div class="tab-pane fade" id="invoices">
                                        <div class="my-4">
                                            <form action="{{request.path}}" class="dropzone needsclick" id="dropzone-invoices" method="POST">
                                                {% csrf_token %}
                                                <div class="dz-message needsclick">
                                                    Перетащите файлы сюда или нажмите, чтобы загрузить
                                                    <span class="note needsclick"></span>
                                                </div>
                                                <div class="fallback">
                                                    <input name="file" type="file" multiple>
                                                </div>
                                                <input type="hidden" name="type" value="invoice">
                                            </form>
                                        </div>
                                        <div class="my-4 small text-right">
                                            <span class="text-muted">Сортировать: </span>
                                            <a href="#" class="text-muted active">По порядку</a>
                                            <a href="#" class="text-muted">По дате</a>
                                            <a href="#" class="text-muted">По размеру</a>
                                        </div>
                                        <div class="row" id="invoices_wraper"> 
                                            
                                            {% for invoice in invoices %}
                                                <div class="col-md-6 col-lg-4 p-1">
                                                    <div class="project-attachment ui-bordered p-2">
                                                        <div class="project-attachment-img" style="background-image: url({% static 'img/5.jpg' %})"></div>
                                                        <div class="media-body ml-3">
                                                            <strong class="project-attachment-filename">{{invoice.title}}</strong>
                                                            <div class="text-muted small"  >{{invoice.file_size|filesizeformat}}</div>
                                                            <div>
{#                                                                <a href="javascript:void(0)">Просмотреть</a> &nbsp;#}
                                                                <a href="{{ invoice.url }}">Загрузить</a>
                                                            </div>
                                                        </div>
                                                        <div class="btn-group project-actions align-self-start">
                                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                                                <i class="ion ion-ios-more"></i>
                                                            </button>
{#                                                            <div class="dropdown-menu dropdown-menu-right">#}
{#                                                                <a class="dropdown-item" href="javascript:void(0)">View</a>#}
{#                                                                <a class="dropdown-item" href="javascript:void(0)">Edit</a>#}
{#                                                                <a class="dropdown-item" href="javascript:void(0)">Remove</a>#}
{#                                                            </div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        {% if is_paginated %}
                                            {% include 'partials/pagination.html' with posts=page_obj %}
                                        {% endif %}
                                    </div>
                                    <div class="tab-pane fade" id="reviews">
                                        <div class="my-4 small text-right">
                                            <span class="text-muted">Сортировать: </span>
                                            <a href="#" class="text-muted active">Все</a>
                                            <a href="#" class="text-muted">Решен</a>
                                            <a href="#" class="text-muted">Обрабатывается</a>
                                            <a href="#" class="text-muted">Не решен</a>
                                        </div>
                                        <div class="my-4 row">
                                           {% for review in shop.feedback_set.all %}
                                            <div class="col-md-6 mb-4">
                                                <div class="card hoverable h-100">
                                                    <div class="card-header d-flex justify-content-between  align-items-start">
                                                        <div>
                                                            <div>
                                                                <span class="font-weight-semibold">{{ review.responsible.user.get_full_name }}</span>

                                                                {% if review.responsible.phone_number %}
                                                                <span class="text-muted">{{ review.responsible.phone_number }}</span>
                                                                {% endif %}

                                                                {% if review.status == 0 %}
                                                                <span class="badge badge-outline-success badge-pill">решен</span>
                                                                {% elif review.status == 1 %}
                                                                <span class="badge badge-outline-warning badge-pill">обрабатывается</span>
                                                                {% elif review.status == 2 %}
                                                                <span class="badge badge-outline-danger badge-pill">не решен</span>
                                                                {% endif %}
                                                            </div>
                                                            <div class="small">
                                                                <span class="text-muted">{{ review.date_create }}</span>
                                                                <br>
                                                                <span class="text-muted">Магазин: {{ review.shop.address }}</span>
                                                            </div>
                                                        </div>

                                                        <div class="btn-group project-actions">
                                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">
                                                                <i class="ion ion-ios-more"></i>
                                                            </button>
                                                            <div class="dropdown-menu dropdown-menu-right">
                                                                <a class="dropdown-item" href="javascript:void(0)">Просмотр</a>
                                                                <a class="dropdown-item" href="javascript:void(0)">Удаление</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-body">
                                                        <div>{{ review.description|truncatewords:8 }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}


                                        </div>
                                    </div>
{#                                    <div class="tab-pane fade" id="files">#}
{#                                        <div class="my-4">#}
{#                                            <form action="{{request.path}}" class="dropzone needsclick" id="dropzone-files" method="POST">#}
{#                                                {% csrf_token %}#}
{#                                                <div class="dz-message needsclick">#}
{#                                                        Перетащите файлы сюда или нажмите, чтобы загрузить#}
{#                                                        <span class="note needsclick">(Это демонстрационная версия. Файлы не будут загружены на сервер.)</span>#}
{#                                                </div>#}
{#                                                <div class="fallback">#}
{#                                                    <input name="file" type="file" multiple>#}
{#                                                </div>#}
{#                                                <input type="hidden" name="type" value="invoice">#}
{#                                            </form>#}
{#                                        </div>#}
{#                                        <div class="my-4 small text-right">#}
{#                                            <span class="text-muted">Сортировать: </span>#}
{#                                            <a href="#" class="text-muted active">По порядку</a>#}
{#                                            <a href="#" class="text-muted">По дате</a>#}
{#                                            <a href="#" class="text-muted">По размеру</a>#}
{#                                        </div>#}
{#                                        <div class="row">#}
{##}
{#                                            <div class="col-md-6 col-lg-4 p-1">#}
{#                                                <a class="project-attachment ui-bordered p-2" data-toggle="modal" data-target="#modal-new-folder">#}
{#                                                    <div class="project-attachment-file display-4">#}
{#                                                        <i class="fas fa-folder-plus"></i>#}
{#                                                    </div>#}
{#                                                    <div class="media-body ml-3">#}
{#                                                        <div>Добавить папку#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </a>#}
{#                                            </div>#}
{#                                            <div class="col-md-6 col-lg-4 p-1">#}
{#                                                <div class="project-attachment ui-bordered p-2">#}
{#                                                    <div class="project-attachment-file display-4">#}
{#                                                        <i class="fas fa-folder"></i>#}
{#                                                    </div>#}
{#                                                    <div class="media-body ml-3">#}
{#                                                        <strong class="project-attachment-filename">Промоутинг лето 2019</strong>#}
{#                                                        <div class="text-muted small">11 файлов</div>#}
{#                                                        <div>#}
{#                                                            <a href="javascript:void(0)">Просмотреть</a> &nbsp;#}
{#                                                            <a href="javascript:void(0)">Загрузить</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="btn-group project-actions align-self-start">#}
{#                                                        <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">#}
{#                                                            <i class="ion ion-ios-more"></i>#}
{#                                                        </button>#}
{#                                                        <div class="dropdown-menu dropdown-menu-right">#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">View</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Remove</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-6 col-lg-4 p-1">#}
{#                                                <div class="project-attachment ui-bordered p-2">#}
{#                                                    <div class="project-attachment-img" style="background-image: url(img/5.jpg)"></div>#}
{#                                                    <div class="media-body ml-3">#}
{#                                                        <strong class="project-attachment-filename">image_1.jpg</strong>#}
{#                                                        <div class="text-muted small">527KB</div>#}
{#                                                        <div>#}
{#                                                            <a href="javascript:void(0)">Просмотреть</a> &nbsp;#}
{#                                                            <a href="javascript:void(0)">Загрузить</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="btn-group project-actions align-self-start">#}
{#                                                        <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">#}
{#                                                            <i class="ion ion-ios-more"></i>#}
{#                                                        </button>#}
{#                                                        <div class="dropdown-menu dropdown-menu-right">#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">View</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Remove</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{##}
{#                                            <div class="col-md-6 col-lg-4 p-1">#}
{#                                                <div class="project-attachment ui-bordered p-2">#}
{#                                                    <div class="project-attachment-file display-4">#}
{#                                                        <i class="far fa-file-pdf"></i>#}
{#                                                    </div>#}
{#                                                    <div class="media-body ml-3">#}
{#                                                        <strong class="project-attachment-filename">assignment_letter.pdf</strong>#}
{#                                                        <div class="text-muted small">156KB</div>#}
{#                                                        <div>#}
{#                                                            <a href="javascript:void(0)">Просмотреть</a> &nbsp;#}
{#                                                            <a href="javascript:void(0)">Загрузить</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="btn-group project-actions align-self-start">#}
{#                                                        <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">#}
{#                                                            <i class="ion ion-ios-more"></i>#}
{#                                                        </button>#}
{#                                                        <div class="dropdown-menu dropdown-menu-right">#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">View</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Remove</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                            <div class="col-md-6 col-lg-4 p-1">#}
{#                                                <div class="project-attachment ui-bordered p-2">#}
{#                                                    <div class="project-attachment-file display-4">#}
{#                                                        <i class="far fa-file-archive"></i>#}
{#                                                    </div>#}
{#                                                    <div class="media-body ml-3">#}
{#                                                        <strong class="project-attachment-filename">app_update.zip</strong>#}
{#                                                        <div class="text-muted small">1.35MB</div>#}
{#                                                        <div>#}
{#                                                            <a href="javascript:void(0)">Загрузить</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                    <div class="btn-group project-actions align-self-start">#}
{#                                                        <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">#}
{#                                                            <i class="ion ion-ios-more"></i>#}
{#                                                        </button>#}
{#                                                        <div class="dropdown-menu dropdown-menu-right">#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">View</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Edit</a>#}
{#                                                            <a class="dropdown-item" href="javascript:void(0)">Remove</a>#}
{#                                                        </div>#}
{#                                                    </div>#}
{#                                                </div>#}
{#                                            </div>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                    </div>

              

{% endblock %}

{% block extrascripts %}
<script src='{% static "libs/dropzone/dropzone.js" %}'></script>
<script type="text/javascript">
    $(function() {
        $('#dropzone-files').dropzone({  
        });

        // Mock the file upload progress (only for the demo)
        //
    Dropzone.options.myAwesomeDropzone = {
        maxFilesize: 5,
        addRemoveLinks: true,
        dictResponseError: 'Server not Configured',
      };
    });

    $(function() {
        $('#dropzone-docs').dropzone({
            parallelUploads: 2,
            maxFilesize:     50000,
            filesizeBase:    3000,
            addRemoveLinks:  true,
            success : function(file, response){
                console.log(response.documents.length)
                if (response.documents.length < 9){
                    $('#documents_wraper').html('')
                    response.documents.forEach(function(item, i, arr) {
                      $('#documents_wraper').append(
                            '<div class="col-md-6 col-lg-4 p-1">\
                                    <div class="project-attachment ui-bordered p-2">\
                                        <div class="project-attachment-img" style="background-image: url({% static "img/5.jpg" %})"></div>\
                                        <div class="media-body ml-3">\
                                            <strong class="project-attachment-filename">'+item.title+'</strong>\
                                            <div class="text-muted small"  >{{'+item.file_size+'|filesizeformat}}</div>\
                                            <div>\
                                                <a href="{{ '+item.url+' }}">Загрузить</a>\
                                            </div>\
                                        </div>\
                                        <div class="btn-group project-actions align-self-start">\
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">\
                                                <i class="ion ion-ios-more"></i>\
                                            </button>\
                                        </div>\
                                    </div>\
                                </div>');
                    });
                }
            }        
        });

        // Mock the file upload progress (only for the demo)
        //
    Dropzone.options.myAwesomeDropzone = {
        maxFilesize: 5,
        addRemoveLinks: true,
        dictResponseError: 'Server not Configured',
      };
    });
</script>

<script type="text/javascript">
    $(function() {
        $('#dropzone-invoices').dropzone({
            parallelUploads: 2,
            maxFilesize:     50000,
            filesizeBase:    3000,
            addRemoveLinks:  true,
            success : function(file, response){
                if (response.invoices.length < 9){
                    $('#invoices_wraper').html('')
                    response.invoices.forEach(function(item, i, arr) {
                      $('#invoices_wraper').append(
                            '<div class="col-md-6 col-lg-4 p-1">\
                                    <div class="project-attachment ui-bordered p-2">\
                                        <div class="project-attachment-img" style="background-image: url({% static "img/5.jpg" %})"></div>\
                                        <div class="media-body ml-3">\
                                            <strong class="project-attachment-filename">'+item.title+'</strong>\
                                            <div class="text-muted small"  >{{'+item.file_size+'|filesizeformat}}</div>\
                                            <div>\
                                                <a href="{{ '+item.url+' }}">Загрузить</a>\
                                            </div>\
                                        </div>\
                                        <div class="btn-group project-actions align-self-start">\
                                            <button type="button" class="btn btn-sm btn-default icon-btn borderless btn-round md-btn-flat dropdown-toggle hide-arrow" data-toggle="dropdown">\
                                                <i class="ion ion-ios-more"></i>\
                                            </button>\
                                        </div>\
                                    </div>\
                                </div>');
                    });
                }
            }        
        });

        // Mock the file upload progress (only for the demo)
        //
    Dropzone.options.myAwesomeDropzone = {
        maxFilesize: 5,
        addRemoveLinks: true,
        dictResponseError: 'Server not Configured',
      };
    });
</script>
{% endblock %}