.dir{
  cursor: pointer;
}

.dir:hover {
  background-color: #8c8c8c;
}
.dir-info{
  display: inline-block;
  width: 90%;
}
.dir-name{
  display: inline-block;
}
.dir-ico{
  width: 25px;
  height: 25px;
}

.file-ico{
  width: 15px;
  height: 15px;
}

.dir-buttons{
  padding-top: 1%;
}

.add-directory-panel{
  display: none;
  width: 40%;
  margin-top: -15%;
  margin-left: 15%;
  position: absolute;
  background-color: #a8c0ce;
  z-index: 1;
  border: 2px solid;
  box-shadow: 0px 0px 10px 10px #d2d688;
}

.add-directory-name{
  padding: 2%;
  padding-top: 5%;
}

.add-directory-submit{
  text-align: center;
}

.add-file-panel{
  display: none;
  width: 40%;
  margin-top: -15%;
  margin-left: 15%;
  position: absolute;
  background-color: #a8c0ce;
  z-index: 1;
  border: 2px solid;
  box-shadow: 0px 0px 10px 10px #d2d688;
}

.add-file-name{
  padding: 2%;
  padding-top: 5%;
}

.add-file-submit{
  text-align: center;
}

.modal-close{
  cursor: pointer;
  color: red;
  border: 3px solid #86f242;
  width: 25px;
  text-align: center;
  border-radius: 100px;
  float: right;
  background-color: #86f242 !important;
  font-size: 13px;
}

.delete-dir{
  float: right;
  background-color: red;
  border-radius: 100px;
  color: white;
  width: 20px;
  text-align: center;
  display: inline-block;
}
.delete-dir-file{
  float: right;
  background-color: red;
  border-radius: 100px;
  color: white;
  width: 20px;
  text-align: center;
}

.delete-dir:hover{
  cursor: default;
}
.delete-dir-file:hover{
  cursor: default;
}

