{% extends 'layout.html' %}

{% load wagtailcore_tags %} 
{% load widget_tweaks %}
{% load static %}

{% block body_class %} template-homepage {% endblock %} 

{% block content %} 
    <div class="container flex-grow-1 container-p-y">
        <h2 class="text-light font-weight-normal mt-4 mb-1">Text</h2>
        <ol class="breadcrumb small mb-4">
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Главная</a>
            </li>
            <li class="breadcrumb-item">
                <a href="javascript:void(0)">Новости</a>
            </li>            
            <li class="breadcrumb-item active">Текст</li>
        </ol>
{{ page.body | richtext }} 
{% endblock %}

