{% extends "layout.html" %}
{% load static %}

  
  {% block title %} Вход в приложение Sushi{% endblock %}


 {% block script %}
<!-- Libs -->
  <link rel="stylesheet" href="{% static "assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" %}">
  <!-- Page -->
  <link rel="stylesheet" href="{% static "assets/vendor/css/pages/authentication.css" %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        {% endblock %}
{% block header %} 
{% endblock %}
{% block body %} 
<body>
  <div class="page-loader">
    <div class="bg-primary"></div>
  </div>{% endblock %}
{% block content %}
  



  <!-- Content -->

  <div class="authentication-wrapper authentication-2 ui-bg-cover ui-bg-overlay-container px-4">
    <div class="ui-bg-overlay bg-dark opacity-25"></div>

    <div class="authentication-inner py-5">

      <div class="card">
        <div class="p-4 p-sm-5">
          <!-- Logo -->
          <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
            <div class="ui-w-60">
              <div class="w-100 position-relative" style="">
                <img src="{% static "assets/img/logo.png" %}" alt="logo" style="width: 80px;">
              </div>
            </div>
          </div>
          <!-- / Logo -->

          <h5 class="text-center text-muted font-weight-normal mb-4">Пароль изменен успешно</h5>
<p>Ваш новый пароль установлен. Вы можете войти сейчас на <a href="{% url 'login' %}">на этой стронице</a>.</p>
        </div>
    </div>
  </div>
  {% endblock %}
{% block footer %}    
{% endblock %}
  
{% block script2 %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}